# Copy, do not symlink, this file to `/etc/systemd/network/00-can-varta.network`.
[Match]
Name=can-varta

[Link]
ActivationPolicy=up

[CAN]
BitRate=250000
