# Copy, do not symlink, this file to `/etc/systemd/network/00-can-deltaq.network`.
[Match]
Name=can-deltaq

[Link]
ActivationPolicy=up

[CAN]
BitRate=500000
